---
BasedOnStyle: LLVM
AlignEscapedNewlinesLeft: 'true'
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'true'
BreakBeforeBraces: Allman
ColumnLimit: '0'
IndentCaseLabels: 'true'
IndentWidth: '4'
MaxEmptyLinesToKeep: '2'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: ControlStatements
Standard: Auto
TabWidth: '4'

...
